build/
.svn
.DS_Store
**/*.pbxuser
*.mode2v3
*.mode1v3
**/*.perspectivev*
*Breakpoints.xcbkptlist
*UserInterfaceState.xcuserstate
AR_SpaceShip.xcodeproj/project.pbxproj

AR_SpaceShip.xcodeproj/project.pbxproj

AR_SpaceShip/Resources/Info.plist

AR_SpaceShip.xcodeproj/project.pbxproj

AR_SpaceShip/AppDelegate.m

AR_SpaceShip/AppDelegate.m
