<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FloaterUpDownTotal</key>
	<string>20</string>
	<key>FloaterLeftRightTotal</key>
	<string>1</string>
	<key>FloaterScaleTotal</key>
	<string>35</string>
	<key>FloaterCombinedTotal</key>
	<string>10</string>
	<key>SpeedLeftToRight</key>
	<string>0.0</string>
	<key>SpeedLeftToRightVariance</key>
	<string>20.0</string>
	<key>SpeedUpDown</key>
	<string>20.0</string>
	<key>SpeedUpDownVariance</key>
	<string>20.0</string>
	<key>SpeedScale</key>
	<string>20.0</string>
	<key>SpeedScaleVariance</key>
	<string>20.0</string>
	<key>ScoreToWin</key>
	<string>0</string>
	<key>MaximumRoll</key>
	<string>0</string>
	<key>MinimumRoll</key>
	<string>0</string>
	<key>MaximumPitch</key>
	<string>0</string>
	<key>MinimumPitch</key>
	<string>0</string>
	<key>MaximumYaw</key>
	<string>0</string>
	<key>MinimumYaw</key>
	<real>5.7</real>
</dict>
</plist>
